# dependencies
node_modules/
/.pnp
.pnp.js

# testing
/coverage
.coverage

# next.js
.next
/.next/
/out/
.build/*

# mis
*~
*.swp
tmp/
.DS_Store
.vscode/

# debug
npm-debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel